link(rel="publisher" href="https://plus.google.com/116173187155256042113")

meta(name="description" content=fDescription)
meta(name="subject" content=fSubject)
meta(name="keywords" content=fKeywords)
meta(name="author" content=fAuthor)
meta(name="publisher" content=fPublisher)
meta(name="owner" content=fAuthor)
meta(name="copyright" content=fCopyright)

meta(name="city" content=fCity)
meta(name="country" content=fCountry)
meta(name="state" content=fState)
meta(name="zipcode" content=fZipcode)
meta(name="geo.placename" content=fCity)
meta(name="geo.position" content=fGeoData)
meta(name="geo.region" content=fRegion)
meta(name="geo.placename" content=fCity)

meta(name="ICBM" content=fGeoData)