- var fDescription  = "Designer && Client-side Developer. London || Berlin."
- var fKeywords     = "droom, chris droom, digital designer, front-end designer"
- var fAuthor  		= "@droomio"
- var fPublisher   	= "Chris Droom"
- var fCopyright   	= "Copyright Chris Droom 2016"
- var fSubject   	= "Design portfolio"
- var fContact  	= "yo@droom.io"
- var fCanon   		= "http://www.droom.io/"
- var fCharset   	= "utf-8"
- var fLangCode  	= "en"
- var fDialect   	= "British"
- var fLanguage  	= "English"

- var fState   	 	= ""
- var fCity 	 	= "London"
- var fCountry   	= "England"
- var fZipcode   	= ""
- var fRegion    	= "GB"
- var fGeoData   	= ""

title=fTitle
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(charset=fCharset)
meta(name="language" content=fLangCode)
meta(name="title" content=fTitle)
meta(name="robot" content="index, follow")
//- meta(name="p:domain_verify" content="0adca0e3d608f74b4f9af464b0955a55")
