meta(name="og:title" content=fTitle)
meta(name="og:site_name" content=fTitle)
meta(name="og:description" content=fDescription)
meta(property="og:url" content="fCanon")
meta(name="og:url" href=fCanon)
meta(name="og:url" href=fCanon)

meta(name="twitter:site" content=fAuthor)
meta(name="twitter:creator" content=fAuthor)
meta(name="twitter:card" content="summary")
meta(name="twitter:url" content=fCanon)
meta(name="twitter:title" content=fTitle)
meta(name="twitter:description" content=fDescription)
meta(name="twitter:image" content="")