- var workiso   = true

- var client    = "Reformist.io"
- var studio    = "Reformist.io"
- var date      = "July 2012"
- var repo      = "—"



- var project   = "Foreign Office (tumblr)"
- var prevTitle = "project-givereceipt.html"
- var prevURL   = "project-givereceipt.html"
- var nextTitle = "project-ideahouse.html"
- var nextURL   = "project-ideahouse.html"

doctype html
include partials/_html

  head
    include partials/_head
    
  body.work.iso(data-project="foreign")
    div(data-animsition-in-class="fade-in" data-animsition-in-duration="500").js-animsition.animsition#context
      .belly-title
        include partials/_banner
        .band.head.hr.relative.move

          //- a(href=prevURL tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="300").animsition-link.move.move-left

          .segment.type.relative
            header
              h2=project
              dl.reset.credits
                dt Client
                dd=client 
                dt Studio
                dd=studio
                dt Date
                dd=date
                dt Repo
                dd=repo
                dt Live
                dd.asia
                  a(href="http://blog.droom.name/" aria-label="Visit Blog") blog.droom.name
          
          //- a(href=nextURL tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="300").animsition-link.move.move-right

      .belly-photo.fo#checkpoint-nav

      .belly-aside
        aside.project(role="complementary")
          .segment.type
            dl.reset.credits
              dt Role
              dd Identity
              dd UX &plus; UI
            dl.reset.credits
              dt Stack
              dd Balsamiq
              dd Paper
              dd Adobe© Illustrator
              dd Adobe© Photoshop
              dd Adobe© InDesign
              dd InVision
        
      main(role="main")

        .segment.center.blueprint
          figure
            img(src="img/projects/fo-baseline.png")
            figcaption
              small
                = "Hanging puncutation wasn't a big thing in 2010 and I honestly don't recall a single template that used it. Fast-forward to 2015 and it's more common — the biggest one being on Medium. I need to credit the excellent Designer "
                a(href="http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2") Mark Boulton
                = " for bringing this to my attention in the first place in 2005."

        .segment.center.blueprint
          figure
            img(src="img/projects/fo-reflow.gif").faint
            figcaption
              small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quae in odit enim, voluptatibus quidem deleniti minus quisquam.


        .segment.center.blueprint
          figure
            img(src="img/projects/fo-georgia.png")
            figcaption
              small
                = "Hanging puncutation wasn't a big thing in 2010 and I honestly don't recall a single template that used it. Fast-forward to 2015 and it's more common — the biggest one being on Medium. I need to credit the excellent Designer "
                a(href="http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2") Mark Boulton
                = " for bringing this to my attention in the first place in 2005."


      include partials/_footer
      include partials/_scripts
