.band.head.hr.relative.move
  a(href=prevURL tabindex="-1").move.move-left

  .segment.type.relative.mast
    header
      h1(itemprop="name")!=project
      dl.reset.credits
        if client
          dt Client
          dd(itemprop="copyrightHolder")=client

        if studio
          dt Studio
          dd(itemprop="author")=studio

        if model
          dt Model
          dd=model

        if date
          dt Date
          dd(itemprop="datePublished")=date

        if repo
          dt Repo
          dd 
            a(itemprop="URL" href=repoURL aria-label=project).inline.dark=repoTitle

        if stage
          dt Stage
          dd 
            a(itemprop="URL" href=stageURL aria-label=project).inline.dark=stageTitle

        if live
          dt Live
          dd 
            a(itemprop="URL" href=liveURL aria-label=project).inline.dark=liveTitle

  a(href=nextURL tabindex="-1").move.move-right

.band.js.hr
  .segment.type
    p
      strong JavaScript not loaded. 
      = "Some parts of this site need JavaScript to work properly. "
      a(href="http://enable-javascript.com/").inline Please enable it
      = " for the full experience. If already enabled, try refreshing the page."
