.band.head.hr.relative.move
  a(href=URLPrev tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="300").animsition-link.move.move-left

  .segment.type.relative.mast
    header
      h2=project
      dl.reset.credits
        if client
          dt Client
          dd=client

        if studio
          dt Studio
          dd=studio

        if date
          dt Date
          dd=date

        if repo
          dt Repo
          dd=repo

        if status
          dt Status
          dd=status

        if URLProject
          dt Live
          dd
            a(href=URLProject aria-label=project)=URLTitle
  
  a(href=URLNext tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="300").animsition-link.move.move-right