.band.head.hr.relative.move
  a(href=URLPrev tabindex="-1" data-animsition-out-class="fade-out-right-sm" data-animsition-out-duration="300").animsition-link.move.move-left

  .segment.type.relative.mast
    header
      h2=project
      dl.reset.credits
        dt Client
        dd=client 
        dt Studio
        dd=studio
        dt Date
        dd=date
        dt Repo
        dd=repo
        if URLProject
          dt Live
          dd
            a(href=URLProject aria-label=project)=URLTitle
  
  a(href=URLNext tabindex="-1" data-animsition-out-class="fade-out-left-sm" data-animsition-out-duration="300").animsition-link.move.move-right