//- // - var fTitle   		= "Made by Chris Droom | 2016"
- var fDescription  = "Designer & Client-side Developer, 2016 portfolio"
- var fKeywords     = "droom, chris droom, digital designer, front-end designer"
- var fAuthor  		= "@droomio"
- var fPublisher   	= "Chris Droom"
- var fCopyright   	= "Copyright Chris Droom 2016"
- var fSubject   	= "Design portfolio"
- var fContact  	= "yo@droom.io"
//- - var fCanon   		= "http://www.droom.io/"
- var fCharset   	= "utf-8"
- var fLangCode  	= "en"
- var fDialect   	= "British"
- var fLanguage  	= "English"

- var fState   	 	= ""
- var fCity 	 	= "London"
- var fCountry   	= "England"
- var fZipcode   	= ""
- var fRegion    	= "GB"
- var fGeoData   	= ""

title=fTitle
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(charset=fCharset)
meta(name="language" content=fLangCode)
meta(name="title" content=fTitle)
meta(name="p:domain_verify" content="0adca0e3d608f74b4f9af464b0955a55")
meta(name="og:title" content=fTitle)
meta(name="og:site_name" content=fTitle)
meta(name="og:description" content=fDescription)
meta(name="twitter:site" content=fAuthor)
meta(name="twitter:creator" content=fAuthor)
meta(name="robot" content="index, follow")
//- link(rel="canonical" href=fCanon)
//- link(rel="icon" type="image/png" href="img/icons/favicon.png")
//- link(href="img/icons/Icon.png" rel="apple-touch-icon-precomposed" sizes="57x57" )
//- link(href="img/icons/Icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72" )
//- link(href="img/icons/Icon@2x.png" rel="apple-touch-icon-precomposed" sizes="114x114" )
//- meta(name="og:url" href=fCanon)
//- meta(name="twitter:card" content="summary")
//- meta(name="twitter:url" content=fCanon)
//- meta(name="twitter:title" content=fTitle)
//- meta(name="twitter:description" content=fDescription)
//- meta(name="twitter:image" content="")
//- meta(name="description" content=fDescription)
//- meta(name="subject" content=fSubject)
//- meta(name="keywords" content=fKeywords)
//- meta(name="author" content=fAuthor)
//- meta(name="publisher" content=fPublisher)
//- meta(name="owner" content=fAuthor)
//- meta(name="copyright" content=fCopyright)
//- meta(name="geo.region" content=fRegion)
//- meta(name="geo.placename" content=fCity)
//- meta(name="city" content=fCity)
//- meta(name="country" content=fCountry)
//- meta(name="state" content=fState)
//- meta(name="zipcode" content=fZipcode)
//- meta(name="geo.placename" content=fCity)
//- meta(name="geo.position" content=fGeoData)
//- meta(name="ICBM" content=fGeoData)